$def with (me, page_info)

$var info = page_info

$var css: index.css
$var js: index.js

$:elements.header(me)

<div class="main_content">
	<div id="block1" class="block1">
		<h4 class="block_title">$me.name</h4>
		<div class="block_content">
			<div class="my_info">
				<img id="my_head_img" class="my_head_img" src="$me.pic" height="60" width="60">
				<span class="sp_text shadow my_name">$me.name</span>
			</div>
		</div>
	</div>
	<div id="block2" class="block2 wide_block">
		<h4 class="block_title">My videos<i id="expand" class="right link" style="display:none;">-></i></h4>
		<div class="block_content">
			<div class="my_videos">
				<ul id="videos" class="inline video_list">
					$for video in me.videos:
						<li>
							$:elements.video_prev(video)
						</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="block3" class="block3 hide_block">
		<h4 class="block_title">Video<i id="close" class="right link">x</i></h4>
		<div class="block_content">
			<h2 id="video_name"></h2>
			<h4 id="owner"></h4>
			$if me.videos:
				$:elements.video_play(me.videos[0])
			<p id="video_intro"></p>
			<p id="share_one_click">
			<div class="passit_barDiv"><a class="passit_default" href="http://www.passit.cn/bookmark.html" target="_blank"></a></div>
			<script type="text/javascript">
			var passit_title = "";
			var passit_url = "";
			var passit_content= "";
			var passit_image= "";
			var sina_appkey= "";
			var qq_appkey= "";
			</script>
			<script type="text/javascript">
			bookmark_service_div="qq,kxzt,qqxy,baiduHi,bookmark,baidu,douban,sohuweibo,163weibo,more";
			bookmark_service="qqkj,sinaweibo,xnzt";</script>
			<script type="text/javascript" src="http://www.passit.cn/js/passit_bar_new.js?pub=0&simple=1" charset="UTF-8"></script>
			</p>

			<form class="comment" action="/comment/" method="post">
				<textarea name="content" class="parent_wide"></textarea>
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>