$def with (page_info)

$var info = page_info

$var js: register.js

$:elements.header("")

<script src=static/js/add-on/jQuery.md5.js></script>
<div class="main_content">
	<form action="/register" method="post" class="typical_form" id="register_form">
		<div class="input_block">
			<input id="name_in" type="text" name="username" class="input_large" placeholder="Username" />
			<i class="form_tip"></i>
		</div>
		<div class="input_block">
			<input id="mail_in" type="text" name="email" class="input_large" placeholder="E-mail" />
			<i class="form_tip"></i>
		</div>
		<div class="input_block">
			<input id="pwd_in" type="password" name="password" class="input_large" placeholder="Password" />
			<i class="form_tip"></i>
		</div>
		<div class="input_block">
			<input id="pwd_cfm_in" type="password" name="password_confirm" class="input_large" placeholder="Password again" />
			<i class="form_tip"></i>
		</div>
		<div class="input_block">
			<input id="submit" type="submit" value="Register" />
		</div>
	</form>
</div>
