$def with (me, page_info, encodedURL)

$var info = page_info

$var js: upload.js

$:elements.header(me)
<div class="main_content">
	<form id="upload_form" class="typical_form" action="/upload/$encodedURL" method="post" enctype="multipart/form-data">
		<h4>注意：目前只支持 mp4，ogv，webm 三种格式的视频上传</h4>
		<div class="input_block">
			<input type="file" name="up_file" />
			<input type="hidden" name="file_type" value="" />
			<button class="btn" id="choose" >未选择文件...</button>
			<i class="form_tip"></i>
		</div>
		<div class="input_block">
			<input id='submit' type="submit" value="upload" />
		</div>
	</form>
</div>