$def with (video, me, page_info)

$var info = page_info

$:elements.header(me, video=video)

<div class="main_content">

	<h2 id="video_name">$video.name</h2>
	<h4 id="owner">By $video.owner</h4>
	<!--
	<video id="video" src="$video.src" controls="controls" width="640" height="358">Your browser does not support html5, chrome will work.</video>
-->
	<video controls="controls" poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="640" height="360">
	<source src="/static/css/videoplayback" type="video/mp4" />
	<object type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="640" height="360">
		<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
		<param name="allowFullScreen" value="true" />
		<param name="wmode" value="transparent" />
		<param name="flashVars" value="config={'playlist':['http%3A%2F%2Fsandbox.thewikies.com%2Fvfe-generator%2Fimages%2Fbig-buck-bunny_poster.jpg',{'url':'%2static%2css%2videoplayback','autoPlay':false}]}" />
		<img alt="Big Buck Bunny" src="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="640" height="360" title="No video playback capabilities, please download the video below" />
	</object>
</video>
	<p id="video_intro">$video.intro</p>
	<p id="share_one_click">
	<div class="passit_barDiv"><a class="passit_default" href="http://www.passit.cn/bookmark.html" target="_blank"></a></div>
	<script type="text/javascript">
	var passit_title = "";
	var passit_url = "";
	var passit_content= "";
	var passit_image= "";
	var sina_appkey= "";
	var qq_appkey= "";
	</script>
	<script type="text/javascript">
	bookmark_service_div="qq,kxzt,qqxy,baiduHi,bookmark,baidu,douban,sohuweibo,163weibo,more";
	bookmark_service="qqkj,sinaweibo,xnzt";</script>
	<script type="text/javascript" src="http://www.passit.cn/js/passit_bar_new.js?pub=0&simple=1" charset="UTF-8"></script>
	</p>
<!--
	<form action="/comment" method="post">
		<textarea name="content"></textarea>
		<input type="submit" value="Submit" />
	</form>
-->

</div>