$def with (video, me, page_info)

$var info = page_info

$:elements.header(me, video=video)

<div class="main_content">

	<h2 id="video_name">$video.name</h2>
	<h4 id="owner">By $video.owner</h4>
	<!--
	<video id="video" src="$video.src" controls="controls" width="640" height="358">Your browser does not support html5, chrome will work.</video>
-->
	$:elements.video_prev(video)
	
	<p id="video_intro">$video.intro</p>

<!--
	<form action="/comment" method="post">
		<textarea name="content"></textarea>
		<input type="submit" value="Submit" />
	</form>
-->

</div>