$def with (video, me, owner, page_info)

$var info = page_info

$:elements.header(me, video=video)

<div class="main_content">

	<h2 id="video_name">$video.name</h2>
	<h4 id="owner">By $owner.name</h4>
	<!--
	<video id="video" src="$video.src" controls="controls" width="640" height="358">Your browser does not support html5, chrome will work.</video>
-->
	$:elements.video_play(video)
	
	<p id="video_intro">$video.intro</p>
	<p id="share_one_click">
	<div class="passit_barDiv"><a class="passit_default" href="http://www.passit.cn/bookmark.html" target="_blank"></a></div>
	<script type="text/javascript">
	var passit_title = "";
	var passit_url = "";
	var passit_content= "";
	var passit_image= "";
	var sina_appkey= "";
	var qq_appkey= "";
	</script>
	<script type="text/javascript">
	bookmark_service_div="qq,kxzt,qqxy,baiduHi,bookmark,baidu,douban,sohuweibo,163weibo,more";
	bookmark_service="qqkj,sinaweibo,xnzt";</script>
	<script type="text/javascript" src="http://www.passit.cn/js/passit_bar_new.js?pub=0&simple=1" charset="UTF-8"></script>
	</p>
<!--
	<form action="/comment" method="post">
		<textarea name="content"></textarea>
		<input type="submit" value="Submit" />
	</form>
-->

</div>