@block2_s_width: 832px;

.transparent(@p){
	-moz-opacity: @p;
	-khtml-opacity: @p; 
	opacity: @p;
} 

.my_info{
	position: relative;
	text-align: center;
}
.block1 .my_head_img{
	margin-top: 20px;
	padding: 10px;

	background-color: whitesmoke;
	box-shadow: 0 0 2px #ccc;
}


.wide_block{
	width: @block2_s_width;
	margin-right: 0;
	.video_list > li{
		margin: 5px 5px 5px 5px;
	}
}
.hide_block{
	display: none;
}

.normal_block {
	.video_list > li {
		height: 40px;
		overflow: hidden; 
		margin: 0 0 10px;

		.video_block{
			margin-top: -20px;

			.video_prev{
			}
		}
	}
}


.my_name{
	margin: 20px 20px;
	padding: 0 20px;

	font-size: 16px;
	font-weight: bold;
	line-height: 60px;
}

.comment{
	text-align: right;
	textarea{
		height: 60px;
	}
}
