.user_info{margin-top:30px;}
.user_head_img{padding:10px;vertical-align:bottom;background-color:whitesmoke;box-shadow:0 0 2px #ccc;}
.user_name{display:inline-block;vertical-align:bottom;padding:0 20px;font-size:16px;font-weight:bold;line-height:60px;height:60px;}
.user_videos{margin-top:50px;}
